---
title: "WIP"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
intro: 
  - excerpt: 'This site serves as an engineering project portfolio.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Professional Projects"
    excerpt: 'Click the button below to explore the projects I've completed in a professional setting.'
    url: "#test-link"
    btn_label: "Professional"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Educational Projects"
    excerpt: 'Click the button below to explore the projects I've completed as part of my undergraduate curriculum.'
    url: "#test-link"
    btn_label: "Education"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Personal Projects"
    excerpt: 'Click the button below to explore the projects I've completed on my own.'
    url: "#test-link"
    btn_label: "Personal"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" type="center" %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="center" %}
